<!DOCTYPE html>
<html>
    <head>
        <title>Reverb</title>
        <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
     </head>

    <body>
        {% include "auth_sidebar.html" %}

        {% include "modal.html" %}

        <div class="main-content">
            <div class="login-register-page">
                
                <div class="login-box">
                    <h1 class="section-title text-gradient" style="margin-left: -3px;">Register</h1>

                    <form id="registerForm" method="post" action="{{ url_for('register') }}">
                        <label for="username">Username:</label>
                        <br>
                        <input type="text" id="username" name="username" required>
                        <br>
                        <label for="password">Password:</label>
                        <br>
                        <input type="password" id="password" name="password" required>
                        <br>
                        <label for="check_password">Verify password:</label>
                        <br>
                        <input type="password" id="check_password" name="check_password" required>
                        <br>
                        <input type="submit" value="Register">
                    </form>
                </div>

                <p>
                    Already have an account? <a href="{{ url_for('login') }}">Login here</a>.
                </p>
            </div>
        </div>
    </body>

	<script>
		// Get the modal
		var modal = document.getElementById('flashMessageModal');

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName('close')[0];

		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
			modal.style.display = 'none';
		}

		// Close the modal if the user clicks anywhere outside of it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = 'none';
			}
		}

		document.addEventListener('DOMContentLoaded', function() {
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					var flashMessages = '';
					{% for message in messages %}
						flashMessages += '<p>{{ message }}</p>';
					{% endfor %}

					document.getElementById('flash-messages').innerHTML = flashMessages;
					document.getElementById('flashMessageModal').style.display = 'block';
				{% endif %}
			{% endwith %}
		});
	</script>
      
</html>
